a:hover {
  color: #05539C;
  cursor: pointer;
  text-decoration: none; }

h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.1rem; }

.main-header {
  color: #05539C;
  padding-bottom: 20px; }

.show-button {
  background-color: #05539C;
  border: none; }

.show-button a {
  color: #fff; }

.add-button, .show-button {
  background-color: #069b9b;
  color: #fff;
  border-radius: 0; }

.add-button:hover, .show-button:hover {
  color: #9af4f0; }

.sidebar, .main {
  margin-top: 100px; }

.navbar-form {
  padding: 0; }

.search-panel {
  background-color: #05539c;
  height: 115px; }

.form-control {
  border: 0;
  border-radius: 0; }

.people .media {
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 30px; }

.people .media img {
  padding-right: 20px;
  height: 70px; }

.people .media .media-about {
  width: 80%; }

.media-body button {
  margin-right: 10px; }

.media-body h5 {
  text-transform: uppercase;
  color: #05539C; }

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0; }
