<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
     <li class="active"><a href="#">Show Users<span class="sr-only">(current)</span></a></li>
  </ul>
</div>
<div class="col-sm-9 col-md-10 main">
    <div class="row">
        <div class="col-sm-10 search-panel">
            <div>
                <form class="navbar-form">
                    <h2>Users</h2>
                    <input type="text" class="form-control" placeholder="Search..." ng-model="$ctrl.query">
                    <button type="button" class="btn btn-secondary pull-right add-button">Add user</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row people">
        <div class="col-sm-10">
            <div class="media" ng-repeat="item in vm.myData | filter:$ctrl.query " >
                <img class="d-flex mr-3" ng-src="{{item.picture}}" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{item.name.first}} {{item.name.last}}</h5>
                    <p class="media-about">{{item.about}}</p>
                    <a>{{item.email}}</a>
                    <button type="button" class="btn btn-secondary pull-right">Edit</button>
                    <button type="button" class="btn btn-secondary pull-right">Del</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row pagination">
        <div class="col-sm-12">
            <ul uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.currentPage" max-size="vm.maxSize"  boundary-links="true" force-ellipses="true" ng-change="vm.pageChanged()"></ul>
        </div>
    </div>
</div>
